.home-header-right li>a{
  padding: 5px 10px;
  width: 90px;
  height: 38px;
  line-height: 27px;
  margin: 6px 5px 0 15px;
  border: 1px solid rgba(236,97,73,.7);
  border-radius: 20px;
  font-size: 14px;
  color: #ea6f5a;
  background-color: transparent
}
.home-header-right li>a.writer-btn{
  background: #ea6f5a;
  color: #ffffff;
}
.ic-write{
  margin-right: 6px;
}
.logo{
  line-height: 48px;
}
.glyphicon-send{
  color: #ea6f5a;
}
